$tan: #edc7b7;
$light-beige: #eee2dc;
$grey: #bab2b5;
$darkBlue: #123c69;
$darkPink: #ac3b61;
$redGrey: #81646d;
$black: #192430;
$desatLightBlue: #c6cacf;
$desatDarkBlue: #404a55;
$yellow: #9fac3b;
$purple: #7028e4;
$blue: #2521e5;
$red: #e52323;
$yellow: #cce729;
$orange: #df5f28;
$green: #3bac46;
$offWhite: #e7eff8;
$light-blue: #278ffd;
$light-red: rgb(253, 39, 39);
$light-blue: #278ffd;
$light-blue-2: #88c1ff;
$light-green: #27fd55;
$light-orange: #fd7d27;

.black-gradient-btn {
  border: 1px solid $darkBlue;
  border-radius: 16px;
  padding: 4px 8px;
  cursor: pointer;
  h1,
  h2,
  h3,
  h4,
  h5 {
    color: $darkBlue;
  }
  background: rgb(186, 178, 181);
  background: linear-gradient(
    0deg,
    rgba(186, 178, 181, 1) 0%,
    rgba(230, 227, 228, 1) 12%,
    rgba(255, 255, 255, 1) 50%,
    rgba(214, 209, 211, 1) 94%,
    rgba(186, 178, 181, 1) 100%
  );
  &:active {
    box-shadow: none;
  }
}

.green-icon {
  width: 40px;
  height: 40px;
  display: flex;
  border-radius: 50%;
  background-color: $green;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  cursor: pointer;
  transition: background-color 0.25s ease;
  .white {
    transition: transform 0.25s ease, color 0.25s ease;
  }
  &:hover {
    background-color: $offWhite;
    border: 2px solid $green;
    .white {
      color: $green !important;
    }
  }
  &:active {
    box-shadow: none;
  }
}
.icon-button {
  border: 1px solid $grey;
  border-radius: 8px;
  background-color: #fff;
  padding: 8px 16px;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  &:hover {
    border: 1px solid $black;
  }
  &:active {
    background-color: $offWhite;
  }
  .icon-ssm {
    color: $green;
  }
  p {
    color: $green;
    margin-right: 8px;
  }
}

.blue-btn-one {
  background-color: $light-blue;
  padding: 8px 16px;
  cursor: pointer;
  display: inline-block;
  border: none;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: box-shadow 0.25s ease;
  border-radius: 8px;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    color: #fff;
  }
  &:hover {
    box-shadow: none;
  }
  &:active {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
      color: #fff;
    }
    background-color: $blue;

    .blue {
      color: #fff;
    }
  }
  &:disabled {
    background-color: $desatLightBlue;
    cursor: default;
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
      color: $desatDarkBlue;
    }
  }
}

.blue-btn-two {
  background: $darkBlue;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  padding: 8px 16px;
  border: 4px solid $offWhite;
  border-style: outset;
  transition: background-color 0.25s ease;
  h5 {
    transition: color 0.25s ease;
  }
  &:hover {
    background-color: $offWhite;
    h5 {
      color: $darkBlue;
    }
  }
  h5 {
    color: $offWhite;
    text-decoration: none !important;
  }
}
.white-btn {
  border: 1px solid $black;
  background: #fff;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  padding: 8px 16px;
  transition: box-shadow 0.25s ease;
  cursor: pointer;
  border-radius: 8px;
  h3,
  h4,
  h5 {
    color: $black;
  }
  &:hover {
    box-shadow: none;
  }
  &:active {
    background: rgba(25, 36, 48, 1);
    h3,
    h4,
    h5 {
      color: #fff;
    }
  }
}
.black-btn {
  background: rgb(51, 78, 104);
  background: linear-gradient(
    90deg,
    rgba(51, 78, 104, 1) 0%,
    rgba(25, 36, 48, 1) 51%,
    rgba(51, 78, 104, 1) 100%
  );
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  padding: 8px 16px;
  transition: box-shadow 0.25s ease;
  cursor: pointer;
  border-radius: 8px;
  h3,
  h4,
  h5 {
    color: $offWhite;
  }
  &:hover {
    box-shadow: none;
  }
  &:active {
    background: rgba(25, 36, 48, 1);
  }
}

.red-btn-one {
  border-radius: 8px;
  background-color: $light-red;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  display: inline-block;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    color: #fff;
  }
  &:active {
    background-color: $red;
  }
  &:hover {
    box-shadow: none;
  }
}

@keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.popup {
  border: 1px solid $darkPink;
  background-color: $light-beige;
  padding: 8px;
  animation-name: opacity;
  animation-duration: 0.5s;
}

.more-btn {
  background-color: $light-beige;
  display: inline-flex;
  padding: 4px;
  border: 1px solid black;
  cursor: pointer;
  align-items: center;
  transition: background-color 0.25s ease;
  p {
    margin-right: 4px;
  }
  &:hover {
    background-color: $darkBlue;
    .black {
      color: $offWhite;
    }
    p {
      color: $offWhite;
    }
  }
}
