@import "presets.scss";
@import "fonts.scss";
@import "buttons.scss";
@import "animations.scss";
@import "dropdown.scss";
@import "icons.scss";
$tan: #edc7b7;
$light-beige: #eee2dc;
$grey: #bab2b5;
$darkBlue: rgb(18, 60, 105);
$darkPink: #ac3b61;
$redGrey: #81646d;
$black: #192430;
$k: "#fff";
$none: none;
$yellow: #9fac3b;
$purple: #7028E4;
$blue: #2521E5;
$red: #E52323;
$yellow: #CCE729;
$orange: #DF5F28;
$green: #3BAC46;
$offWhite: rgb(231, 239, 248);
$darkGrey: #533F45;
$light-blue: #278ffd;
$light-blue-2: #88c1ff;
$light-green: #27fd55;

.image-upload-btn {
  border-radius: 32px;
  border: 1px solid $grey;
  padding: 16px;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  background-color: $light-blue-2;
  transition: background-color 0.25s ease;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset,
    rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
    rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
    rgba(0, 0, 0, 0.09) 0px 32px 16px;
  &:hover {
    background-color: white;
  }
  &:active {
    background-color: white;
    border: 1px solid $blue;
  }
}
.select-box-holder{
  margin-bottom: 16px;
  h5{
    margin-bottom: 8px;
  }
}
.select-box{
  border: 1px solid $grey;
  display:inline-flex;
  cursor: pointer;
  .select-item{
    padding: 16px;
    background-color: #fff;
    transition: background-color .25s ease;
    &:nth-of-type(2){
      border-right: 1px solid $grey;
      border-left: 1px solid $grey;
    }
    &:hover{
      background-color: $light-blue;
    }
  }
}
.selected-box{
  background-color: $light-blue !important;
  p{
    font-weight: 600;
  }
}
.grey-line{
  height:1px;
  width:100%;
  background-color: $grey;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Alegrey Sans";
}

a {
  text-decoration: none;
  color: $blue;
  p, h1,h2,h3,h4,h5{
    color: $blue;
  }
  &:hover{
    text-decoration:none;
    h1,h2,h3,h4,h5, p{
      text-decoration: underline;
    }
  }
}
html, body{
  background: $light-beige;
}

.default-page{
  background-color: $tan;
  margin: 5% 10%;
  @media only screen and  (max-width:600px){
    margin: 5% 0;
  }  

}
.loading-screen{
  position:fixed;
  background-color: rgba(18,60,105, .5);
  display:flex;
  align-items: center;
  padding-top: 30vh;
  width:100%;
  height:100%;
  left:0;
  top:0;
  z-index:1;
  flex-direction: column;
  .loading-items{
    background:white;
    padding: 16px;
    align-items:center;
    display: flex;
    flex-direction: column;
  }
}

.grey-gradient-bg{
  background: rgb(198, 202, 207);
  background: linear-gradient(
    90deg,
    rgba(198, 202, 207, 1) 0%,
    rgba(231, 239, 248, 1) 51%,
    rgba(198, 202, 207, 1) 100%
  );
}
textarea {
  resize: none;
  width: 100%;
  border: 1px solid $darkPink;
  background-color: $light-beige;
  font-size: 16px;
  padding: 4px;
  height: 140px;
  outline: none;
  &:focus {
    //outline: 3px solid $darkPink;
    border-bottom: 4px solid $darkPink;
    background-color: #fff;
  }
}
.info-box {
  max-height: 300px;
  &-description {
    border-top: 1px solid $grey;
    
    padding: 4px;
  }
}
input[type="text"],
input[type="email"], input[type='password']{
  border: 1px solid $darkPink;
  background-color: $light-beige;
  font-size: 18px;
  outline: none;
  padding: 8px;
  height: 40px;
  min-width:50px;
  width: 100%;
  &:focus {
    background: #fff;
    outline: 3px solid $darkPink;
  }
}
input[type="time"] {
  background: #EAEFF1;
  border: none;
  border-bottom: 4px solid $grey;
  display: block;
  margin-bottom: .625em;
  margin-top: .3em;
  width: auto;
  padding: .45em .45em .45em .65em;
  
  outline:none;
  &:focus{
    border:none;
    outline:none;
    border-bottom:4px solid $darkPink;
  }
}

.input-line {
  margin-bottom: 32px;
 
}

li {
  list-style-type: none;
}

.google-dropdown {
  border: 1px solid $darkPink;
  li {
    background: #fff;
    border-bottom: 1px solid $darkPink;
    padding: 4px;
    cursor: pointer;
    &:hover {
      background-color: $light-beige;
    }
    &:last-of-type {
      border-bottom: none;
    }
  }
}
li{
  list-style-type: none;
}
.spacer-line{
  background-color: $black;
  height:100%;
  width:1px;

}
.products-holder{
  display:flex;
  flex-direction: column;
  align-items: flex-start;
}

.product{
  display:flex;
  align-items: center;
  justify-content: space-between;
  width:200px;
  min-width:100px;
  h5{
    margin-right:4px;
    display:inline-block;
    &::before{
      content:'•';
      margin-right: 4px;
    }
  }
  .price{
    
    
    padding: 2px 4px;
    display:inline-block;
    p{
      display:inline-block;
    }
  }
}
.beige-box{
  background-color: $light-beige;
  border: 1px solid $grey;
}
.tags-input-box {
  border: 1px solid $darkPink;
  background-color: $light-beige;
  font-size: 18px;
  outline: none;
  padding: 8px;
  min-height: 40px;
  width: 100%;

  input {
    padding: 0;
    height: 36px;
    border: none;
    
    max-width: 100%;
    padding: 4px;
    margin-right: 8px;
  }
}
.red-line{
  background-color: $darkPink;
  width: 100%;
  height:2px;
}
.tag {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  background: #fff;
  margin-bottom: 4px;
  border: 1px solid $darkPink;
  display: inline-flex;
  align-items: center;
  padding: 4px;
  margin-right: 8px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color .25s ease;
  p {
    margin-right: 4px;
    font-weight: 600;
  }
  &:hover {
    background-color: $light-green;
  }
}
.tag-two {
  
  background: #fff;
  display: inline-block;
  margin-right: 4px;
  margin-bottom: 4px;
  padding: 2px 4px;
  border-radius: 8px;
}
.tag-three{
  border: 1px solid $grey;
  background-color: $tan;
  display:inline-flex;
  align-items: center;
  padding: 4px 8px;
  
  .values{
  display:inline-flex;
  background: #fff;
  border: 1px solid $grey;
  padding: 2px 4px;
  
  }
}
.tag-four{
  margin-right: 4px;
  border: 1px solid $black;
  border-radius: 8px;
  padding: 2px 4px;
  font-weight:600;

}
.tag-holder {
  max-height: 300px;
  overflow: auto;
}
.selected-tag {
  margin-bottom: 4px;
  background: $grey;
  border: 1px solid $darkPink;
  display: inline-flex;
  align-items: center;
  padding: 4px;
  margin-right: 8px;
  cursor: pointer;
  p {
    margin-right: 4px;
    font-weight: 600;
  }
  &:hover {
    background-color: #fff;
  }
}

.error {
  color: red;
  margin-top: 4px;
}

.accordion-content {
  overflow-y: auto;
  transition: height 0.5s ease;
}

.product-tag {
  border: 1px solid $darkPink;
  padding: 2px 4px;
  background-color: $light-beige;

  &:hover {
    background-color: #fff;
  }
  .icon-ssm {
    cursor: pointer;
    &:hover {
      color: $darkBlue;
    }
  }
}
.dark-blue-bg{
  background: rgb(18,60,105);
  background: linear-gradient(90deg, rgba(18,60,105,1) 0%, rgba(25,36,48,1) 51%, rgba(18,60,105,1) 100%);
}
.gradient-bg-1 {
  background: rgb(238, 226, 220);
  background: linear-gradient(
    90deg,
    rgba(238, 226, 220, 1) 0%,
    rgba(255, 255, 255, 1) 50%,
    rgba(238, 226, 220, 1) 100%
  );
}
.gradient-bg-2{
 background: rgb(198,202,207);
background: linear-gradient(90deg, rgba(198,202,207,1) 0%, rgba(255,255,255,1) 100%);
}
@keyframes opacity-5 {
  from {
    opacity: 0;
  }
  to {
    opacity: .5;
  }
}


.background-shadow{
  width:100vw;
  height:100vh;
  left:0px;
  top:0px;
  display: absolute;
  position: fixed;
  z-index:5;
  background-color: rgba(18, 60,105, .5);
  
}

