$darkBlue: #123c69;
$darkPink: #ac3b61;
$redGrey: #81646d;
$black: #192430;
$k: "#fff";
$none: none;
$yellow: #9fac3b;
$purple: #7028E4;
$blue: #2521E5;
$red: #E52323;
$yellow: #CCE729;
$orange: #DF5F28;
$green: #3BAC46;
$offWhite: rgb(231, 239, 248);
$darkGrey: #533F45;

.lds-ring {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid $darkBlue;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: $darkBlue transparent transparent transparent;
  }
  .lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  .lds-ring-green {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-ring-green div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid $green;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: $green transparent transparent transparent;
  }
  .lds-ring-green div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .lds-ring-green div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .lds-ring-green div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  